include finglish/f2p-dict.txt
include finglish/f2p-beginning.txt
include finglish/f2p-middle.txt
include finglish/f2p-ending.txt
include finglish/persian-word-freq.txt
include LICENSE.txt
include requirements.txt
